.htaccess
.DS_Store
Runtime
node_modules
static/assets/
static/scripts/
static/images/
static/index.html
static/billIndex.html
static/manifest.json
Frontend/node_modules
Frontend/dist/css/map
*.log
*.map
etc
tmp
temp
.idea
var
*.swp
.phpstorm.meta.php
interface_desc
.DS_StoreEE
sftp-config.json
node_modules/
*.orig
.vscode/
.ftpconfig
.tern-project
tags
deployment-config.json
.buildpath
.project
.settings
nbproject
bash.exe.stackdump
storybook-static
MENU_NEW.class.php
.uglify/
stats.json
build/manifest.json
.cache-loader/
.uglifyjs-webpack-plugin/tmp/
.uglifyjs-webpack-plugin/content-v2/
.uglifyjs-webpack-plugin/index-v5/
yarn-error.log